<div class="centerText">
	<div>
		<img src="\assets\images\aboutImage\eLeapDeck\AboutPage\Slide2.JPG" alt="What is Service Learning">
		<img src="\assets\images\aboutImage\eLeapDeck\AboutPage\Slide3.JPG" alt="Service Learning at Bellevue College">
		<img src="\assets\images\aboutImage\eLeapDeck\AboutPage\Slide4.JPG" alt="">
		<img src="\assets\images\aboutImage\eLeapDeck\AboutPage\Slide5.JPG">
		<img src="\assets\images\aboutImage\eLeapDeck\AboutPage\Slide6.JPG">
		<img src="\assets\images\aboutImage\eLeapDeck\AboutPage\Slide14.JPG">
	</div>
	<div>
		<h1>What is Service-learning?</h1>
		<p>
			Service-learning is an educational approach that combines learning objectives with community service in order to provide a pragmatic, progressive learning experience while meeting societal needs.
		</p>
	</div>
	<div>
		<h1>Service-learning at Bellevue College</h1>
		<p>
			Service-Learning curriculum takes advantage of volunteer positions both on- and off-campus. Volunteer responsibilities apply concepts or skills pertinent to course outcomes. Students learn while engaging with the community, and the community benefits from student participation.
		</p>
	</div>
	<div>
		<h1>eLeap: The right solution</h1>
		<p>
			Create Opportunities
		</p>
		<p>
			Manage Opportunities
		</p>
		<p>
			Apply for Opportunities
		</p>
		<p>
			Connecting Faculty, Instructor and, Students
		</p>
	</div>
	<div>
		<h1>Main Features</h1>
		<p>
			User Management
		</p>
		<p>
			Sign Up
		</p>
		<p>
			Sign In
		</p>
		<p>
			Profile
		</p>
		<p>
			Opportunity Management
		</p>
		<p>
			List
		</p>
		<p>
			Filter
		</p>
		<p>
			Create
		</p>
		<p>
			Edit
		</p>
		<p>
			Delete
		</p>
		<p>
			Approve
		</p>
		<p>
			Reject
		</p>
		<p>
			Privileges Managment
		</p>
		<p>
			User Roles
		</p>
		<p>
			User Privileges
		</p>
	</div>
	<div>
		<h1>Tech Highlight</h1>
		<p>
			Frontend
		</p>
		<p>
			Responsive Design
		</p>
		<p>
			Coding Language
		</p>
		<p>
			Js
		</p>
		<p>
			CSS3
		</p>
		<p>
			HTML5
		</p>
		<p>
			SQL
		</p>
		<p>
			Framework
		</p>
		<p>
			Backbone.js
		</p>
		<p>
			Bootstrap
		</p>
		<p>
			Infrastructure
		</p>
		<p>
			AWS
		</p>
		<p>
			MySQL
		</p>
	</div>
</div>
