<div class="aboutTitle centerText mt5 mb5">
	About Educationary Leap
</div>
<div class="col-12 relative">
	<div class="aboutSlideShow centerText">
		<img class="aboutSlides img-responsive" src="assets/images/eLeapDeck/Slide1.JPG" alt="Educationary Leap"/>
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide2.JPG" alt="What is Service Learning"/>
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide3.JPG" alt="Service Learning at Bellevue College" />
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide4.JPG" alt="The demand is growing"/>
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide5.JPG" alt="The right solution"/>
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide6.JPG" alt="Main features" />
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide14.JPG" alt="Tech highlight" />
		<img class="aboutSlides initHidden img-responsive" src="assets/images/eLeapDeck/Slide15.JPG" alt="Meet the team" />
	</div>
	<div class="login ">
		<div class="row mt10">
	        <div class="col-6 col-sm-6 centerText mb5">
	            <button class="prevBtn btn btn-lg btn--decorated btn-block">
	            	<i class='fa fa-arrow-left'></i>
	            </button>
	        </div>
	        <div class="col-6 col-sm-6 centerText">
	            <button class="nextBtn btn btn-lg btn--decorated btn-block" tabindex="0">
	            	<i class='fa fa-arrow-right'></i>
	            </button>
	        </div>
    	</div>
    </div>
    <div class="teamLink centerText initHidden">
		<a href="/team">Meet the team</a>
	</div>
</div>
