<div class="centerText">
    <input class="accountEmail" type="email" placeholder="Email[example123@gmail.com]"/><br>
    <span class="accountSignupEmailWarning"></span>
    <input class="accountSignupName" placeholder="Your name"/><br>
    <span class="accountSignupNameWarning"></span>
    <input class="accountSignupPhone" placeholder="Phone Number[xxx-xxx-xxxx]"/><br>
    <span class="accountSignupPhoneWarning"></span>
    <input class="accounSsignupCredential" type="password" placeholder="password"/><br>
    <span class="accounSignupCredentialPhoneWarning"></span>
    <input class="accountSignupRetypeCredential" type="password" placeholder="Retype"/><br>
    <label>Please select your role</label><br>
    <select class="accoundSelectRoles"></select>
    <span class="accounSselectRolesWarning"></span>
</div>