<nav class="breadcrumbNav" aria-label="breadcrumb">
	<div class="viewMode pull-right">
    	<!--add some icons for switching mode-->
    	<span class="cardModeBtn viewModeBtn" title="card view">
    		<i class="fa fa-address-card"></i>
    	</span>
    	<span class="listModeBtn viewModeBtn" title="list view">
    		<i class="fa fa-list"></i>
    	</span>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><span class="dashboardLink"><a>Dashboard</a></span></li>
        <!--li class="breadcrumb-item">Opportunities</li-->
        <li class="breadcrumb-item"><span class="dashboardBreadCrumbTitle"></span></li>
    </ol>
</nav>
 <div class="centerText">   
    <div class="welcomeBox">
        <div class="welcome">Welcome <span class="welcomeName"></span>!</div>
    </div>
    <div class="ml05 mb20">
        <ul class='opportunitiesList'></ul>
    </div>
</div>
