<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">Opportunity list</li>
    </ol>
</nav>
 <div class="centerText">   
    <div class="mt-3">
        <div class="welcome">Welcome <span class="welcomeName"></span>!</div>
    </div>
    <div>
        <ul class='opportunitiesList'></ul>
    </div>
</div>
