
<div class="col-12">
    <button class="createOpportunityButton smallButton mb10 mt10">create an opportunity</button>
    <div class="opportunityForm"></div>
    <div class="createdOpportunity"></div>
</div>

<div class="col-12">
    <button class="createPersonButton smallButton mb10 mt10">sign up</button>
    <div class="signupForm"></div>
    <div class="createdPerson"></div>
</div>

<div class="col-xs-12 mt20 mb20">
	<span>Roles</span>
    <div class="row">
    	<ul class='rolesList col-8 offset-2'></ul>
    </div>
    <span>Persons</span>
    <div class="row">
        <ul class='personsList col-8 offset-2'></ul>
    </div>
    <span>Opportunities</span>
    <div class="row">
        <ul class='opportunitiesList col-8 offset-2'></ul>
    </div>
<!--temp div wrapper -->
<div class="initialDisplayNone">
    <span>Achievements</span>
    <div class="row">
        <ul class='achievementsList col-8 offset-2'></ul>
    </div>
    <span>Communities</span>
    <div class="row">
        <ul class='communitiesList col-8 offset-2'></ul>
    </div>
</div>
<!--temp div wrapper -->
</div>