
<div class="centerText mt10">
	<div class="block-title block-title--bottom">Welcome to Educationary Leap!</div>
	<img src="img/macrocosm.jpg" class="homePageImg" /><br>
	
</div>
<div class="mt5 centerText">
<a href="/login" class="homeLoginLink" tab-index="0">
	Login
</a><br>
<a href="/signup" class="homeSignupLinkbtn">
	Sign Up
</a>
