<img src="img/macrocosm.jpg" class="homePageImg mt50" />
<div class="centerText mt10">
	 isit490 Capstone
	
	Educationary Leap Team <br>
	
	-- JP Marinacci -- <br>
	-- Aren Kasner -- <br>
	-- Sunny Wu -- <br>
	-- Belete Zegeye -- <br>
	-- Leo Sinanian -- <br>
</div>