<div class="centerText">
	<div class="instructorSettingsHeader mt20">
		Instructor Settings	
	</div>
    
    <div class="classTitleHeader">
    	Create a new class
    </div>
    <div class="instructorClassForm mb20"></div>
</div>
