<div class="centerText">
	<div class="instructorSettingsHeader mt20">
		Instructor Settings	
	</div>
    
    <div class="col-12 mt10">
    	 <div class="form-group row">
	        <label class="col-sm-3 col-form-label">Select Class:</label>
	        <div class="col-sm-8">
		    	<select class="classSelector form-control pointer">
		    		<option value="0">create new class</option>
		    	</select>
	    	</div>
	    </div>
    </div>
	<div class="col-12 col-lg-6 pull-left">
		<div class="instructorClassForm mb40"></div>
	</div>
	<div class="col-12 col-lg-6 pull-left">
		<div class="studentsSection initialDisplayNone mt60 mb60 ">
	    	<button class="addStudent btn btn--decorated">Add a Student</button>
			<div class="studentInput login form-group col-12 initialDisplayNone">
				<div class="row">
			        <label class="col-sm-3 col-form-label">email:</label>
			        <div class="col-sm-9">
			            <input type="text" class="studentEmailInput form-control-plaintext" placeholder="">
			            <span class="studentEmailWarning warn" ></span>
			        </div>
		        </div>
		        <button class="submitStudent btn btn--decorated">Submit</button>
		   	</div>
		    <div class="studentListSection initialDisplayNone">
			    Students
			    <ul class="studentsList leftText"></ul>
		    </div>
	    </div>
    </div>
</div>

