<div class="centerText">
	<div class="instructorSettingsHeader mt20">
		Instructor Settings	
	</div>
    
    <div class="mt10">
    	<span>select class:</span>
    	<select class="classSelector pointer">
    		<option value="0">create new class</option>
    	</select>
    </div>
    <div class="instructorClassForm mb20"></div>
    <div class="studentsSection">
    	<ul class="studentsList">
    		
    	</ul>
    	<button class="btn addStudent">
    		Add a Student
		</button>
		<div class="studentInput login col-12 row intialDisplayNone">
			<div class="form-group row">
		        <label class="col-sm-3 col-form-label">email:</label>
		        <div class="col-sm-9">
		            <input type="text" class="studentEmailInput form-control-plaintext" placeholder="">
		            <span class="studentEmailWarning warn" ></span>
		        </div>
		   	</div>
	    </div>
    </div>
</div>
