<div class="col-12">
	<div class="login mt-5">
	    <div class="spinnerContainer initHidden centerText">
	        <div class="mb10">Logging in ...</div>
	        <div class='bigSpinner'>
	            <i class='fas fa-spinner fa-pulse'></i>
	        </div>
	    </div>
	    <div class="form-group">
		    <label class="sr-only">Email address</label>
		    
	<input class="form-control loginEmail mb20" type="email" value="ima@student.com" placeholder="Email address" required autofocus />
	<!--<input class="form-control loginEmail mb20" type="email" value="newb@eleap.com" placeholder="Email address" required autofocus />-->
		    
		    <label class="sr-only">Password</label>
		    
    <input type="password" class="form-control loginCredential" placeholder="Password" value="7" required/>
    <!--<input type="password" class="form-control loginCredential" placeholder="Password" value="newb3" required />-->
		</div>
		
	    <!--div class="checkbox">
	        <input id="check1" type="checkbox" name="check" value="check1" checked="checked">  
	        <label for="check1">remember me</label>    
	    </div-->
	    <!--a >Forgot password?</a-->
	
	    <div class="row mt-5">
	        <div class="col-sm-6 mb5">
	            <button class="loginBtn btn btn-lg btn--decorated btn-block">Sign in</button>
	        </div>
	        <div class="col-sm-6">
	            <button class="signupLinkBtn btn btn-lg btn--decorated btn-block" tabindex="0">Sign Up</button>
	        </div>
	    </div>
	    <div class="textCenter mb10 mt50">eLeap helps you manage service opportunities at your college.</div>
	</div>
</div>
