<div class="wrapper">
        <h2 class="block-title block-title--bottom">Welcome to eLeap for Bellevue College!</h2>
        <div class="login">
            <div class="spinnerContainer initialDisplayNone centerText">
                <div class="mb10">Logging in ...</div>
                <div class='bigSpinner'>
                    <i class='fas fa-spinner fa-pulse'></i>
                </div>
            </div>
            <input class="loginEmail" type="email" placeholder="email">
            <input class="loginPassword" type="password" placeholder="password">
            <!--div class="checkbox">
                <input id="check1" type="checkbox" name="check" value="check1" checked="checked">  
                <label for="check1">remember me</label>    
            </div-->
            <!--a >Forgot password?</a-->
            <div class="row">
                <div class="col-sm-6"><button class="loginButton btn btn--decorated btn-warning login__btn">Sign In</button></div>
                <div class="col-sm-6"><button class="btn btn--decorated btn-warning login__btn signupLink" tabindex="0">Sign Up</button></div>
            </div>
            <div class="textCenter">eLeap helps you manage service opportunities at your college.</div>
        </div>
    <div class="divider-color bottom-space--small"></div>
</div>
