<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard">Opportunity list</a></li>
        <li class="breadcrumb-item">[Opportunity Title Here]</li>
    </ol>
</nav>

<div class="opportunityDetailsView">
    <!--div class="col-xs-12 centerText mb10">
        <button class="oppViewEditBtn btn btn--decorated btn-warning">
            <span>Edit Opportunity</span>
        </button>
        <button class="oppViewJoinBtn btn btn--decorated btn-warning initialDisplayNone">
            <span>Join Opportunity</span>
        </button>
        <button class="oppViewLeaveBtn btn btn--decorated btn-warning initialDisplayNone">
            <span>Leave Opportunity</span>
        </button>
    </div-->
    <div class="opportunityView col-xs-12"></div>
    <!--div class="col-xs-12 centerText mb10">
        <button class="oppViewEditBtn btn btn--decorated btn-warning">
            <span>Edit Opportunity</span>
        </button>
        <button class="oppViewJoinBtn btn btn--decorated btn-warning">
            <span>Join Opportunity</span>
        </button>
        <button class="oppViewLeaveBtn btn btn--decorated btn-warning">
            <span>Leave Opportunity</span>
        </button>
    </div-->
</div>

<div class="oppportunityEditView initialDisplayNone">
    <div class="opportunityPageCreateForm"></div>
</div>

