<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><span class="dashboardLink"><a>Dashboard</a></span></li>
        <li class="breadcrumb-item">Opportunities</li>
        <li class="breadcrumb-item"><span class="oppBreadCrumbTitle"></span></li>
    </ol>
</nav>

<div class="opportunityDetailsView mb60">
    <div class="opportunityView col-8 col-sm-12"></div>
</div>

<div class="oppportunityEditView initHidden">
    <div class="opportunityPageCreateForm col-12 pb40"></div>
</div>
