<div class="centerText">
    Create an Opportunity
</div>
<div class="content-dashboard">
    <h3 class="heading-helper heading-helper--sm heading-helper--markered ">Add a new project</h3>
    <div class="full-row">
        <div class="widget widget--message">
            <div class="content">
                <div class="table-responsive">
                    <table class="table table--target table--mod table--forum table--secondary">
                        <colgroup class="col-small">
                            <colgroup class="col-wide-lg">
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <td>
                                            <input size="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>
                                            <textarea rows="6" cols="80"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Start Date</td>
                                        <td>
                                            <span class="widget datepicker">Choose a Date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>End Date</td>
                                        <td>
                                            <span class="widget datepicker">Choose a Date</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Number of hours</td>
                                        <td>
                                            <input size="4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Open slots</td>
                                        <td>
                                            <input size="4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is it Service Learning?</td>
                                        <td>
                                            <input type="radio" name="sl" value="no" checked> No
                                            <input type="radio" name="sl" value="yes"> Yes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is it paid?</td>
                                        <td>
                                            <input type="radio" name="paid" value="no" checked> No
                                            <input type="radio" name="paid" value="yes"> Yes
                                            <input placeholder="Amount" size=8>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Is it recurrent?</td>
                                        <td>
                                            <input type="radio" name="re" value="yes" checked> No
                                            <input type="radio" name="re" value="no"> Yes, every
                                            <input placeholder="?" size=4> days
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="centerText">
                                            <button class="btn btn-warning btn--decorated">Submit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </colgroup>
                        <colgroup>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

