<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard">Opportunity list</a></li>
        <li class="breadcrumb-item">[Opportunity Title Here]</li>
    </ol>
</nav>

<div class="opportunityDetailsView content leftText">
    <div class="opportunityView"></div>
    <button class="oppViewJoinBtn btn btn--decorated btn-warning">
        <span>
            Join Opportunity
        </span>
    </button>
</div>
<div class="oppportunityEditView initialDisplayNone">
    <div class="opportunityPageCreateForm"></div>
</div>
