<li class="achievementItem">
    <div><span>achievementId: </span><span><%= achievement.achievementId || "null" %></span></div>
    <div><span>achievementName:  </ span><span><%= achievement.achievementName || "null" %></span></div>
    <div><span>achievementDescription:  </ span><span><%= achievement.achievementDescription || "null" %></span></div>
</li>
