<li class="communityItem">
    <div><span>communityId: </span><span><%= community.communityId || "null" %></span></div>
    <div><span>communityName:  </ span><span><%= community.communityName || "null" %></span></div>
    <div><span>address:  </ span><span><%= community.address || "null" %></span></div>
    <div><span>contactEmail:  </ span><span><%= community.contactEmail || "null" %></span></div>
</li>
