<div class="oppItemDetails">
    <div class="card">
        <div class="card-header text-center oppItemField">

            <% if(opp.title){%>

            <h5 class="card-title"><%= opp.title %></h5>
            <% if(opp.status){%>
            <small class="fontExtraSmall fontRed">[<%= opp.status %>]</small>
            <%}%>
            <%}%>
        </div>


        <div class="row mt-2 mb-2 ml-2 mr-2">

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">

                        <div class="oppItemField">
                            <% if(opp.ownerId){%>
                            <li class="list-group-item"><b>Owner Name:</b><br><%= opp.ownerName %></li>
                            <%}%>
                        </div>

                        <div class="oppItemField">
                            <% if(opp.createDate){%>
                            <li class="list-group-item"><b>Created on </b><br><%=
                                utils.dateTimeToDisplay(opp.createDate) %>
                            </li>
                            <%}%>
                        </div>

                        <div class="oppItemField">
                            <% if(opp.status){%>
                            <li class="list-group-item"><b>Status: </b><%= opp.status %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.totalSeats){%>
                            <li class="list-group-item"><b>Total seats:</b><br><%= opp.totalSeats %></li>
                            <%}%>
                        </div>

                        <div class="oppItemField">
                            <%if(opp.applicationDueDate){%>
                            <li class="list-group-item"><b>Application due date:</b><br><%=
                                utils.dateTimeToDisplay(opp.applicationDueDate) %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.availableSeats){%>
                            <li class="list-group-item"><b>Available seats:</b><br><%= opp.availableSeats %></li>
                            <%}%>
                        </div>

                        <div class="oppItemField">
                            <% if(opp.agencyCommitment){%>
                            <li class="list-group-item"><b>Agency commitment:</b><br><%= opp.agencyCommitment %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.classId){%>
                            <li class="list-group-item"><b>Class ID:</b><br><%= opp.classId %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.className){%>
                            <li class="list-group-item"><b>Class name:</b><br><%= opp.className %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.classType){%>
                            <li class="list-group-item"><b>Class type:</b><br><%= opp.classType %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.classYear){%>
                            <li class="list-group-item"><b>Class year:</b><br><%= opp.classYear %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.courseSummary){%>
                            <li class="list-group-item"><b>Course summary:</b><br><%= opp.courseSummary %></li>
                            <%}%>
                        </div>

                        <div class="oppItemField">
                            <% if(opp.deliverables){%>
                            <li class="list-group-item"><b>Deliverables:</b><br><%= opp.deliverables %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.donation){%>
                            <li class="list-group-item"><b>Donation:</b><br><%= opp.donation %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.duration){%>
                            <li class="list-group-item"><b>Duration:</b><br><%= opp.duration %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.endDateTime){%>
                            <li class="list-group-item"><b>End date:</b><br><%= utils.dateTimeToDisplay(opp.endDateTime)
                                %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.estimatedClassSize){%>
                            <li class="list-group-item"><b>Estimated class size:</b><br><%= opp.estimatedClassSize %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.examples){%>
                            <li class="list-group-item"><b>Examples:</b><br><%= opp.examples %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.hoursRequired){%>
                            <li class="list-group-item"><b>Hours required:</b><br><%= opp.hoursRequired %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.isClass){%>
                            <li class="list-group-item"><b>Is for class:</b><br><%= opp.isClass %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.isRequiredForClass){%>
                            <li class="list-group-item"><b>Is required for class:</b><br><%= opp.isRequiredForClass %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.isPaid){%>
                            <li class="list-group-item"><b>Paid:</b><br><%= opp.isPaid %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.isServiceLearning){%>
                            <li class="list-group-item"><b>Service learning:</b><br><%= opp.isServiceLearning %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.isTeams){%>
                            <li class="list-group-item"><b>Teams:</b><br><%= opp.isTeams %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.isVirtual){%>
                            <li class="list-group-item"><b>Virtual:</b><br><%= opp.isVirtual %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.latitude){%>
                            <li class="list-group-item"><b>Latitude:</b><br><%= opp.latitude %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.location){%>
                            <li class="list-group-item"><b>Location:</b><br><%= opp.location %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.longitude){%>
                            <li class="list-group-item"><b>Longitude:</b><br><%= opp.longitude %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.minimumPersonsRequired){%>
                            <li class="list-group-item"><b>Minimum persons required:</b><br><%=
                                opp.minimumPersonsRequired %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.notAllowed){%>
                            <li class="list-group-item"><b>Not allowed:</b><br><%= opp.notAllowed %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.notes){%>
                            <li class="list-group-item"><b>Notes:</b><br><%= opp.notes %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.numTeams){%>
                            <li class="list-group-item"><b>Num teams:</b><br><%= opp.numTeams %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.onBoarding){%>
                            <li class="list-group-item"><b>On boarding:</b><br><%= opp.onBoarding %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.opportunityType){%>
                            <li class="list-group-item"><b>Opportunity type:</b><br><%= opp.opportunityType %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.pay){%>
                            <li class="list-group-item"><b>Pay:</b><br><%= opp.pay %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.preferredAgencyType){%>
                            <li class="list-group-item"><b>Preferred agency type:</b><br><%= opp.preferredAgencyType %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.preferredServiceWorkType){%>
                            <li class="list-group-item"><b>Preferred service work type:</b><br><%=
                                opp.preferredServiceWorkType %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.recurrence){%>
                            <li class="list-group-item"><b>Recurrence:</b><br><%= opp.recurrence %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.requirments){%>
                            <li class="list-group-item"><b>Requirments:</b><br><%= opp.requirments %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.startDateTime){%>
                            <li class="list-group-item"><b>Start date time:</b><br><%=
                                utils.dateTimeToDisplay(opp.startDateTime) %>
                            </li>
                            <%}%>
                        </div>

                        <div class="oppItemField">
                            <% if(opp.supportDescription){%>
                            <li class="list-group-item"><b>Support description:</b><br><%= opp.supportDescription %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.supportPreference){%>
                            <li class="list-group-item"><b>Support preference:</b><br><%= opp.supportPreference %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.teamSize){%>
                            <li class="list-group-item"><b>Team size:</b><br><%= opp.teamSize %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.term){%>
                            <li class="list-group-item"><b>Term:</b><br><%= opp.term %></li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.timePeriodEndDate){%>
                            <li class="list-group-item"><b>Time period end date:</b><br><%=
                                utils.dateTimeToDisplay(opp.timePeriodEndDate) %>
                            </li>
                            <%}%>
                        </div>
                        <div class="oppItemField">
                            <% if(opp.timePeriodStartDate){%>
                            <li class="list-group-item"><b>Time period start date:</b><br><%=
                                utils.dateTimeToDisplay(opp.timePeriodStartDate) %>
                            </li>
                            <%}%>
                        </div>


                    </ul>


                </div>
            </div>

            <div class="col-8">

                <div class="card-body">
                    <% if(opp.description){%>
                    <p class="card-text"><%= opp.description %></p>
                    <%}%>
                </div>
            </div>

        </div>


        <div class="card-footer text-center">
            <a href="#" class="btn btn-warning">Apply</a>
        </div>
    </div>
</div>

