<li class="opportunityItem">
    <div><span>opportunityId: </span><span><%= opportunity.opportunityId || "null" %></span></div>
    <div><span>title:  </ span><span><%= opportunity.title || "null" %></span></div>
    <div><span>description:  </ span><span><%= opportunity.description || "null" %></span></div>
    <div><span>classId:  </ span><span><%= opportunity.classID || "null" %></span></div>
    <div><span>createDate:  </ span><span><%= opportunity.createDate || "null" %></span></div>
    <div><span>donation:  </ span><span><%= opportunity.donation || "null" %></span></div>
    <div><span>duration:  </ span><span><%= opportunity.duration || "null" %></span></div>
    <div><span>endDate:  </ span><span><%= opportunity.endDate || "null" %></span></div>
    <div><span>isPaid:  </ span><span><%= opportunity.isPaid || "null" %></span></div>
    <div><span>isRecurrent:  </ span><span><%= opportunity.isRecurrent || "null" %></span></div>
    <div><span>isServiceLearning:  </ span><span><%= opportunity.isServiceLearning || "null" %></span></div>
    <div><span>isVirtual:  </ span><span><%= opportunity.isVirtual || "null" %></span></div>
    <div><span>notes:  </ span><span><%= opportunity.notes || "null" %></span></div>
    <div><span>ownerId:  </ span><span><%= opportunity.ownerID || "null" %></span></div>
    <div><span>pay:  </ span><span><%= opportunity.pay || "null" %></span></div>
    <div><span>startDate:  </ span><span><%= opportunity.startDate || "null" %></span></div>
    <div><span>statusId:  </ span><span><%= opportunity.statusID || "null" %></span></div>
    <div><span>timePeriodEnd:  </ span><span><%= opportunity.timePeriodEnd || "null" %></span></div>
    <div><span>timePeriodStart:  </ span><span><%= opportunity.timePeriodStart || "null" %></span></div>
    <div><span>totalSeats:  </ span><span><%= opportunity.totalSeats || "null" %></span></div>
</li>
