<div class="oppItemDetails card">
    <div class="card-header centerText oppItemField">
        <% if(opp.title) {%>
            <div class="card-title">
                <%= opp.title %>
            </div>
        <%}%>
    </div>
    <div class="row mt-2 mb-2 ml-2 mr-2">
        <div class="col-4">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <% if(opp.ownerId) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Owner Name:</b><br>
                                <%= opp.ownerName %>
                            </li>
                        </div>
                     <%}%>
                     <% if(opp.createDate) {%>
                         <div class="oppItemField">
                             <li class="list-group-item">
                                 <b>Created on </b><br>
                                 <%= utils.dateTimeToDisplay(opp.createDate) %>
                            </li>
                         </div>
                    <%}%>
                    <% if(opp.status) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Status: </b><br>
                                <%= opp.status %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.totalSeats) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Total seats:</b><br>
                                <%= opp.totalSeats %>
                            </li>
                        </div>
                    <%}%>
                    <%if(opp.applicationDueDate) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Application due date:</b><br>
                                <%= utils.dateTimeToDisplay(opp.applicationDueDate) %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.availableSeats) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Available seats:</b><br>
                                <%= opp.availableSeats %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.agencyCommitment) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Agency commitment:</b><br>
                                <%= opp.agencyCommitment %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.classId) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Class ID:</b><br>
                                <%= opp.classId %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.className) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Class name:</b><br>
                                <%= opp.className %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.classType) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Class type:</b><br>
                                <%= opp.classType %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.classYear) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Class year:</b><br>
                                <%= opp.classYear %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.courseSummary) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Course summary:</b><br>
                                <%= opp.courseSummary %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.deliverables) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Deliverables:</b><br>
                                <%= opp.deliverables %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.donation) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Donation:</b><br>
                                <%= opp.donation %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.duration) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Duration:</b><br>
                                <%= opp.duration %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.endDateTime) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>End date:</b><br>
                                <%= utils.dateTimeToDisplay(opp.endDateTime) %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.estimatedClassSize) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Estimated class size:</b><br>
                                <%= opp.estimatedClassSize %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.examples) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Examples:</b><br>
                                <%= opp.examples %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.hoursRequired) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Hours required:</b><br>
                                <%= opp.hoursRequired %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.isClass) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Is for class:</b><br>
                                <%= opp.isClass %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.isRequiredForClass) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Is required for class:</b><br>
                                <%= opp.isRequiredForClass %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.isPaid) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Paid:</b><br>
                                <%= opp.isPaid %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.isServiceLearning) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Service learning:</b><br>
                                <%= opp.isServiceLearning %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.isTeams) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Teams:</b><br>
                                <%= opp.isTeams %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.isVirtual) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Virtual:</b><br>
                                <%= opp.isVirtual %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.latitude) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Latitude:</b><br>
                                <%= opp.latitude %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.location) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Location:</b><br>
                                <%= opp.location %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.longitude) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Longitude:</b><br>
                                <%= opp.longitude %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.minimumPersonsRequired) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Minimum persons required:</b><br>
                                <%= opp.minimumPersonsRequired %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.notAllowed) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Not allowed:</b><br>
                                <%= opp.notAllowed %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.notes) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Notes:</b><br>
                                <%= opp.notes %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.numTeams) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Num teams:</b><br>
                                <%= opp.numTeams %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.onBoarding) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>On boarding:</b><br>
                                <%= opp.onBoarding %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.opportunityType) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Opportunity type:</b><br>
                                <%= opp.opportunityType %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.pay) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Pay:</b><br>
                                <%= opp.pay %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.preferredAgencyType) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Preferred agency type:</b><br>
                                <%= opp.preferredAgencyType %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.preferredServiceWorkType) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Preferred service work type:</b><br>
                                <%= opp.preferredServiceWorkType %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.recurrence) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Recurrence:</b><br>
                                <%= opp.recurrence %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.requirments) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Requirments:</b><br>
                                <%= opp.requirments %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.startDateTime) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Start date time:</b><br>
                                <%= utils.dateTimeToDisplay(opp.startDateTime) %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.supportDescription) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Support description:</b><br>
                                <%= opp.supportDescription %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.supportPreference) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Support preference:</b><br>
                                <%= opp.supportPreference %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.teamSize) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Team size:</b><br>
                                <%= opp.teamSize %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.term) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Term:</b><br>
                                <%= opp.term %>
                             </li>
                        </div>
                    <%}%>
                    <% if(opp.timePeriodEndDate) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Time period end date:</b><br>
                                <%= utils.dateTimeToDisplay(opp.timePeriodEndDate) %>
                            </li>
                        </div>
                    <%}%>
                    <% if(opp.timePeriodStartDate) {%>
                        <div class="oppItemField">
                            <li class="list-group-item">
                                <b>Time period start date:</b>
                                <br><%= utils.dateTimeToDisplay(opp.timePeriodStartDate) %>
                            </li>
                        </div>
                    <%}%>
                </ul>
            </diV>
        </div>
        <div class="col-8">
            <% if(opp.description) {%>
                <div class="card-body">
                    <div class="card-text">
                        <%= opp.description %>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</div>

