<div data-opp-id="<%= opp.opportunityId %>">
	<div class="cardHeader">
	    <div class="oppItemPicContainer">
	        <!--i class="far fa-file icon-middle"></i-->
	        <img class="oppItemPic" src="img/docs.ico" />
	    </div>
	    <div class="oppItemField oppItemTitle">
	    	<% if (opp.isJoined) { %>
                <div class="oppItemJoined">
                	<i class="fa fa-check-square color-forest"></i><br>
                    <span class='joinedText'>Joined</span>
                </div>
            <% } %>
            <span>
                <%= opp.title %>
            </span>
            <br>
            <small class="oppItemStatus">
            	[<%= opp.status %>]
            </small>
	    </div>
	    <div class="oppItemApproveDenyBlock row initHidden" data-opp-id="<%= opp.opportunityId %>">
		    <div class="col-12 mb10">
		    	<div class="row">
		        	<div class="oppItemApproveBtn col-6 inlineBlock centerText pointer" data-opp-id="<%= opp.opportunityId %>" data-button-type='approve'>
		            	<i class="fa fa-thumbs-up color-forest" data-button-type='approve'></i><br>
		            	<span class="fontExtraSmall" data-button-type='approve'>Approve</span>
		        	</div>
		        	
		        	<div class="oppItemDenyBtn col-6 inlineBlock centerText pointer" data-opp-id="<%= opp.opportunityId %>" data-button-type="deny">
		            	<i class="fa fa-thumbs-down color-crimson" data-button-type="deny"></i><br>
		            	<span class="fontExtraSmall" data-button-type="deny">Deny</span>
		        	</div>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="card-body">
	    <% if((opp.startDateTime) && (opp.endDateTime)) {%>
		    <div class="oppItemField card-subtitle mb-2">
		        <span><%= utils.dateTimeToDisplay(opp.startDateTime) %> - <br><%= utils.dateTimeToDisplay(opp.endDateTime) %></span>
		    	<hr>
		    </div>
	    <% } %>
		<div class="oppItemField card-subtitle mb-2">
	        <span>type:</span>
	        <span><b><%= opp.opportunityType %></b></span>
	    </div>
	    <div class="oppItemField card-subtitle mb-2">
	        <span>class opportunity:</span>
	        <span><b><% if(opp.isClass) {%>yes<%}else{%>no<%}%></b></span>
	    </div>
	    <% if(opp.totalSeats){ %>
		    <div class="oppItemField card-subtitle mt5 mb5">
		        <span>Available seats:</span>
		        <span><%= opp.availableSeats %> out of <%= opp.totalSeats %></span>
		    </div>
		<% } %>
        <div class="oppItemField card-subtitle progress mb10">
        	<% if(availablePrct) { %>
        		<% if(availablePrct === 100) { %>
	        		<div class="oppItemField card-subtitle progress">
			            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">FULL</div>
			        </div>
        		<% } else { %>
	        		<div class="progress-bar bg-info" role="progressbar" style="width: <%= availablePrct %>%;" aria-valuenow="<%= availablePrct %>" aria-valuemin="0" aria-valuemax="100">
	        			<%= availablePrct %>%
	            	</div>
            	<% } %>
        	<% } else { %>
        		<div class="progress-bar bg-none" role="progressbar" aria-valuenow="<%= availablePrct %>" aria-valuemin="0" aria-valuemax="100">OPEN</div>
        	<% } %>	
        </div>
	    <div class="oppItemField dashDesc card-text">
	    	<%= opp.description %>
	    </div>
	</div>
	<div class="oppItemFooter">
    	<div class="oppItemMoreBtn btn btn--decorated">More  &gt;&gt;</div>
    </div>
</div>
