<tr>
    <td><%= opportunity.title || "null" %> (Rise Project Learning)</td>
    <td><%= opportunity.opportunity.Type || "null" %></td>
    <td><%= new Date(opportunity.startDateTime) || "null" %></td>
    <td><%= new Date(opportunity.endDateTime) || "null" %></td>
    <td><%= opportunity.totalSeats || "null" %></td>
    <td><%= opportunity.totalSeats || "null" %></td>
</tr>
        