<div class="oppItemCard">
	<div class="cardHeader">
	    <div class="oppItemPicContainer">
	        <!--i class="far fa-file icon-middle"></i-->
	        <img class="oppItemPic" src="img/docs.ico" />
	    </div>
	    <div class="oppItemField oppItemTitle">
	        <h5>
	            <span class="card-title">
	                <%= opp.title %>
	            </span>
	            <br>
	            <small class="statusRed">[<%= opp.status %>]</small>
	        </h5>
	    </div>
	    <div class="oppItemApproveDenyBlock row mt-4 initialDisplayNone">
		    <div class="col-12 mb10">
		    	<div class="row">
		        	<div class="col-6 inlineBlock centerText">
		            	<i class="fa fa-thumbs-up color-green"></i><br>
		            	<span class="fontExtraSmall">Approve</span>
		        	</div>
		        	<div class="col-6 inlineBlock centerText">
		            	<i class="fa fa-thumbs-down color-red"></i><br>
		            	<span class="fontExtraSmall">Deny</span>
		        	</div>
		    	</div>
		    </div>
		    <div class="col-12 card-link centerText">More&gt;&gt;</div>
		</div>
	</div>
	
	<div class="card-body">
		
		<div class="oppItemField card-subtitle mb-2">
	        <span>For:</span>
	        <span><b><%= opp.opportunityType %></b></span>
	    </div>
	
	    <% if(opp.startDateTime){%>
		    <div class="oppItemField card-subtitle mb-2">
		        <span><%= utils.dateTimeToDisplay(opp.startDateTime) %> - <%= utils.dateTimeToDisplay(opp.endDateTime) %></span>
		    <hr>
		    </div>
	    <% } %>
	    
	    <% if(opp.totalSeats){%>
		    <div class="oppItemField card-subtitle mb-2">
		        <span>Available seats:</span>
		        <span><%= opp.availableSeats %> out of <%= opp.totalSeats %></span>
		    </div>
	        <% if(opp.availableSeats){%>
		        <div class="oppItemField card-subtitle progress mb10">
		            <div class="progress-bar bg-info" role="progressbar" style="width: <%= opp.availableSeats/opp.totalSeats*100 %>%;" aria-valuenow="<%= opp.availableSeats/opp.totalSeats*100 %>" aria-valuemin="0" aria-valuemax="100">
		            	<%= opp.availableSeats/opp.totalSeats*100 %>%</div>
		        </div>
	        <% } else { %>
		        <div class="oppItemField card-subtitle progress">
		            <div class="progress-bar bg-full" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">FULL</div>
		        </div>
	        <% } %>
	    <% } %>
	
	    <div class="oppItemField card-subtitle mb-2">
	        <span>For class?</span>
	        <span><b><% if(opp.isClass) {%>yes<%}else{%>no<%}%></b></span>
	        <hr>
	    </div>
	
	    <div class="oppItemField dashDesc">
	        <div class="card-text mt-4 mb-2">
	        	<%= opp.description %>
	        </div>
	    </div>
	</div>
</div>