<div data-opp-id="<%= opp.opportunityId %>">
	<div class="oppItemPicContainer">
        <!--i class="far fa-file icon-middle"></i-->
        <img class="oppItemPic" src="img/docs.ico" />
    </div>
    <div class="oppItemField oppItemTitle col-11 ml5">
    	<% if (opp.isJoined) { %>
            <div class="oppItemJoined">
            	<i class="fa fa-check-square color-forest"></i><br>
                <span class='joinedText'>Joined</span>
            </div>
        <% } %>
        <div><%= opp.title %></div><small class="oppItemStatus">[<%= opp.status %>]</small>
    </div>
    <div class="col-12 col-sm-2">
	    <div class="oppItemApproveDenyBlock row initHidden" data-opp-id="<%= opp.opportunityId %>">
	    	<div class="oppItemApproveBtn btn centerText inlineBlock pointer col-6" data-opp-id="<%= opp.opportunityId %>" data-button-type='approve'>
	        	<i class="fa fa-thumbs-up color-forest" data-button-type='approve'></i><br>
	        	<div class="fontExtraSmall" data-button-type='approve'>Approve</div>
	    	</div>
	    	<div class="oppItemDenyBtn btn inlineBlock centerText pointer col-6" data-opp-id="<%= opp.opportunityId %>" data-button-type="deny">
	        	<i class="fa fa-thumbs-down color-crimson" data-button-type="deny"></i><br>
	        	<div class="fontExtraSmall" data-button-type="deny">Deny</div>
	    	</div>	
		</div>
	</div>
    <div class="col-12 col-sm-4">
        <div><%= utils.dateTimeToDisplay(opp.startDateTime) %></div>
       	<div><%= utils.dateTimeToDisplay(opp.endDateTime) %></div>
    </div>
	<div class="col-12 col-sm-3">
        <div>Type:</div>
        <div><strong><%= opp.opportunityType %></strong></div>
    </div>
    <div class="col-12 col-sm-3">
        <div>For a class:</div>
        <div><strong><% if(opp.isClass) {%>yes<%}else{%>no<%}%></strong></div>
    </div>
    <div class="col-12 col-sm-4">
        <div>Available seats:</div>
        <% if(opp.totalSeats){ %>
        	<div><%= opp.availableSeats %> out of <%= opp.totalSeats %></div>
        <% } else {%>
        	<div> Open </div>
        <% } %>
    	<div class="oppItemField card-subtitle progress centerText mb10">
	    	<% if(availablePrct) { %>
        		<% if(availablePrct === 100) { %>
	        		<div class="oppItemField card-subtitle progress">
			            <div class="progress-bar bg-info" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">FULL</div>
			        </div>
        		<% } else { %>
	        		<div class="progress-bar bg-info" role="progressbar" style="width: <%= availablePrct %>%;" aria-valuenow="<%= availablePrct %>" aria-valuemin="0" aria-valuemax="100">
	        			<%= availablePrct %>%
	            	</div>
            	<% } %>
        	<% } else { %>
        		<div class="progress-bar bg-none" role="progressbar" aria-valuenow="<%= availablePrct %>" aria-valuemin="0" aria-valuemax="100">OPEN</div>
        	<% } %>
	    </div>
    </div>
    <div class="col-10 col-sm-12">
    	<%= opp.description %>
    </div>
    <div class="oppItemMoreBtn btn btn--decorated">More  &gt;&gt;</div>
</div>

