<tr>
    <td>
        <a class="table__category" href="/opportunity/<%= opportunity.opportunityId %>">Rise Project Learning</a>
    </td>
    <td><%= opportunity.startDate || "null" %></td>
    <td><%= opportunity.ownerID || "null" %> (Maricel Medina-Mora)</td>
    <td>IBIT, On campus</td>
    <td><%= opportunity.timePeriodStart || "null" %> - <%= opportunity.timePeriodEnd || "null" %> (March 10-12, 2018)</td>
    <td><%= opportunity.duration || "null" %> (6 Hours)</td>
    <td><%= opportunity.totalSeats || "null" %> (3 out of 6)</td>
    <td>
        <button class="btn btn-info btn-sm">Apply</button>
    </td>
</tr>
        