<li class="personItem">
    <div><span>personId: </span><span><%= person.personId || "null" %></span></div>
    <div><span>personName:  </ span><span><%= person.personName || "null" %></span></div>
    <div><span>personDescription:  </ span><span><%= person.personDescription || "null" %></span></div>
    <div><span>roleId: </span><span><%= person.roleId || "null" %></span></div>
    <div><span>email:  </ span><span><%= person.email || "null" %></span></div>
    <div><span>phone:  </ span><span><%= person.phone || "null" %></span></div>
    <div><span>themeID:  </ span><span><%= person.themeID || "null" %></span></div>
    <div><span>picID:  </ span><span><%= person.picID || "null" %></span></div>
</li>
