<li class="roleItem">
    <div><span>roleId: </span><span><%= role.roleId || "null" %></span></div>
    <div><span>name:  </ span><span><%= role.roleName || "null" %></span></div>
    <div><span>description:  </ span><span><%= role.roleDescription || "null" %></span></div>
</li>
