<header class="bannerWrapper">
    <span class="headerLogo">
        <a href="/"><img src="img/BellevueLOGO2.png" class="img-responsive"></a>
    </span>
    <span class="headerBanner">
        <img src="img/banner.png" class="img-responsive">
    </span>
    <div class="btnLogout btn btn-warning btn--decorated float-right initialDisplayNone">
        <i class="fa fa-sign-out-alt"></i>
    </div>
</header>
