<header class="bannerWrapper">
    <span class="headerLogo">
    	<a href="/home" class="pointer">
    		<img src="img/BellevueLOGO2.png" class="img-responsive" border="0">
        </a>
    </span>
    <span class="headerBanner fixedCenter">
        <img src="img/banner.png" class="img-responsive">
    </span>
    <div class="btnLogout btn btn-warning btn--decorated float-right initialDisplayNone" title='log out'>
        <i class="fa fa-sign-out-alt"></i>
        <div class='btnLogoutText'>Log Out</div>
    </div>
</header>
