<aside class="nav-sidebar">
    <div class="nav-sidebar-container pt20">
        <div class="text-light text-center mb10">
            <hr>
            <span class="dashboardLink">My Dashboard</span>
            <hr>
        </div>
        <div class="row  centerText">
            <div class="col-sm-6 text-center">
                <div class="createNewBtn navLink">
                    <i class="fa fa-plus-square icon-big"></i>
                    <br>
                    <span>Create New Opportunity</span>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="accountSettingsBtn navLink">
                    <i class="fa fa-cog icon-big"></i>
                    <br>
                    <span>Account Settings</span>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="navLink">
                    <i class="fa fa-trophy icon-big"></i>
                    <br>
                    <span>Badges</span>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="navLink">
                    <i class="fa fa-users icon-big"></i>
                    <br>
                    <span>Partners</span>
                </div>
            </div>
        </div>
    </div>
</aside>

