<aside class="nav-sidebar">
    <div class="nav-sidebar-container pt20">
        <div class="text-light text-center mb10">
            <hr>
            <a href="/dashboard">My Dashboard</a>
            <hr>
        </div>
        <div class="row  centerText">
            <div class="col-sm-6 text-light">
                <span class="text-big">25h</span>
                <br>
                Contributions
            </div>
            <div class="col-sm-6 text-light text-center">
                <span class="text-big">$190</span>
                <br>Impact Value
            </div>
            <div class="col-sm-12 nav-sidebar__title text-center">
               ::::::
            </div>
            <div class="col-sm-6 navigation__item text-center">
                <div class="createNewBtn navigation__link">
                    <a href="/opportunity/create"><i class="fa fa-plus-square icon-big"></i></a>
                    <br>
                    Create New
                </div>
            </div>
            <div class="col-sm-6 navigation__item text-center">
                <div class="navigation__link">
                    <a href="#"><i class="fa fa-calendar icon-big"></i></a>
                    <br>Calendar
                </div>
            </div>
            <div class="col-sm-6 navigation__item text-center">
                <div class="navigation__link">
                    <a href="#"><i class="fa fa-trophy icon-big"></i></a>
                    <br>Badges
                </div>
            </div>
            <div class="col-sm-6 navigation__item text-center">
                <div class="navigation__link">
                    <a href="#"><i class="fa fa-users icon-big"></i></a>
                    <br>Partners
                </div>
            </div>
        </div>
    </div>
</aside>

