<aside class="nav-sidebar">
    <div class="nav-sidebar-container">
        <div class="text-light centerText mb10">
            <hr>
            <span class="dashboardLink"><i class="fa fa-home icon-big"></i></span>
            <br><span class="hidden-sm">Dashboard</span>
            <hr>
        </div>
        <div class="row centerText">
        	<div class="col-md-6">
                <div class="accountSettingsBtn navLink">
                    <i class="fa fa-cog icon-big"></i>
                    <br>
                    <span>Account<span class="hidden-sm"> Settings</span></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="createOppBtn navLink">
                    <i class="fa fa-plus-square icon-big"></i>

                    <br>
                    <span><span class="hidden-sm">Create </span>New<span class="hidden-sm"> Opportunity</span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="editOppBtn navLink initialDisplayNone">
                    <i class="fa fa-edit icon-big"></i>
                    <br>
                    <span>Edit<span class="hidden-sm"> Opportunity</span></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="joinOppBtn navLink initialDisplayNone">
                    <i class="fa fa fa-link icon-big"></i>
                    <br>
                    <span>Join<span class="hidden-sm"> Opportunity</span></span>
                </div>
                <div class="leaveOppBtn navLink initialDisplayNone">
                    <i class="fa fa-unlink icon-big"></i>
                    <br>
                    <span>Leave<span class="hidden-sm"> Opportunity</span></span>
                </div>
            </div>


        </div>
    </div>
</aside>

