<div class="classForm login col-12 pt30">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Class Name</label>
        <div class="col-sm-9">
            <input type="text" class="classNameInput form-control-plaintext" placeholder="">
            <span class="classNameWarning"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Term</label>
        <div class="col-sm-9">
            <input class="termInput form-control-plaintext" type="text" placeholder="">
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Year</label>
        <div class="col-sm-9">
            <input type="text" class="yearInput form-control-plaintext" placeholder="">
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Section</label>
        <div class="col-sm-9">
            <input class="sectionInput form-control-plaintext" placeholder="">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Estimated Class Size</label>
        <div class="col-sm-9">
            <input class="estimatedClassSizeInput form-control-plaintext" placeholder="">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Course Summary</label>
        <div class="col-sm-9">
            <input class="courseSummaryInput form-control-plaintext" placeholder="">
        </div>
    </div>

	<div class="signupButtonContainer centerText">
	    <button class="classFormSubmitBtn btn btn--decorated btn-warning ">Submit</button>
	</div>
</div>
