<h3 class="pl20 heading-helper heading-helper--sm">Create an Opportunity</h3>
<ul>
    <li>
        <span>Is it Service Learning?</span>
        <span>
            <input type="radio" name= "isServiceLearning" class="isServiceLearning" value="no" checked> No
            <input type="radio" name = "isServiceLearning" class="isServiceLearning" value="yes"> Yes
        </span>
    </li>
    <li>
        <span>Opportunity Start Date</span>
        <span class="relative">
            <input class="startDateTimeInput" type="text"><!--(MM/DD/YYYY)-->
        </span>        
    </li>
    <li>
         <span>Opportunity End Date</span>
         <span class="relative">
             <input class="endDateTimeInput" type="text">
         </span>
    </li>
    <li>
        <span>Title</span>
        <span>
           <input class="opportunityFormTitle"> 
        </span>
    </li>
    <li>
        <span>Description</span>
        <span>
            <textarea class="opportunityFormDescription"></textarea>
        </span>
    </li>
    <li>
        <span>Open slots</span>
        <span>
            <input class="totalSeats">
        </span>
    </li>
    <li>
        <span>Is it paid?</span>
        <span>
            <input type="radio" name="isPaid" class="isPaid" value="no" checked> No
            <input type="radio" name="isPaid" class="isPaid" value="yes"> Yes
            <input placeholder="Amount">
        </span>
    </li>
    <li>
        <span>Is it recurrent?</span>
        <span>
            <input type="radio" name="isRecurrent" value="0" checked> No
            <input type="radio" name="isRecurrent"> Yes,
            <select name="isRecurrent">
                <option value="1">Every day</option>
                <option value="2">Every week</option>
                <option value="3">Every month</option>
            </select>
        </span>
    </li>
    <li>
        <span></span>
        <span></span>
    </li>
    <li>
        <span></span>
        <span></span>
    </li>
</ul>
<button class="btn btn-warning btn--decorated saveOpportunity">Submit</button>
