<h3 class="pl20 heading-helper heading-helper--sm">Create an Opportunity</h3>
<ul>
    <li>
        <span class="mr5">Opportunity Start Date</span>
        <span class="relative">
            <input class="startDateTimeInput" type="text" class="form-control"><!--(MM/DD/YYYY)-->
        </span>        
    </li>
    
</ul>

<div class="pl20">
    <div class="leftText">
        <div class="">
            <div class="content">
                <div class="table-responsive">
                    <table class="table table--target table--mod table--forum table--secondary">
                        <colgroup class="col-small">
                        <colgroup class="col-wide-lg">
                        <tbody>
                        <tr>
                            <td>Title</td>
                            <td>
                                <input class="opportunityFormTitle" size="80">
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <textarea class="opportunityFormDescription" rows="6" cols="80"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Opportunity End Date</td>
                            <td>
                                <input class="endDateInput" type="text" size="18"><!--(MM/DD/YYYY)-->
                            </td>
                        </tr>
                        <tr>
                            <td>Start time per day</td>
                            <td>
                                <input class="startTimeInput" type="text" size="18"><!--(e.g. 10:00)-->
                            </td>
                        </tr>
                        <tr>
                            <td>End time per day</td>
                            <td>
                                <input class="endTimeInput" type="text" size="18"><!--(e.g. 18:00)-->
                            </td>
                        </tr>
                        <tr>
                            <td>time period start</td>
                            <td>
                                <input class="timepPeriodStartInput" type="text" size="18"><!--(e.g. 18:00)-->
                            </td>
                        </tr>
                        <tr>
                            <td>Working hours in total</td>
                            <td>
                                <input class="durationInput" size="4">
                            </td>
                        </tr>
                        <tr>
                            <td>Open slots</td>
                            <td>
                                <input class="totalSeats" size="4">
                            </td>
                        </tr>
                        <tr>
                            <td>Is it Service Learning?</td>
                            <td>
                                <input type="radio" name = "isServiceLearning" class="isServiceLearning" value="no" checked> No
                                <input type="radio" name = "isServiceLearning" class="isServiceLearning" value="yes"> Yes
                            </td>
                        </tr>
                        <tr>
                            <td>Is it paid?</td>
                            <td>
                                <input type="radio" name ="isPaid" class="isPaid" value="no" checked> No
                                <input type="radio" name ="isPaid" class="isPaid" value="yes"> Yes
                                <input placeholder="Amount" name="isPaid" size="8">
                            </td>
                        </tr>
                        <tr>
                            <td>Is it recurrent?</td>
                            <td>
                                <input type="radio" name="isRecurrent" value="0" checked> No
                                <input type="radio" name="isRecurrent"> Yes,
                                <select name="isRecurrent">
                                    <option value="1">Every day</option>
                                    <option value="2">Every week</option>
                                    <option value="3">Every month</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="centerText">
                                <button class="btn btn-warning btn--decorated saveOpportunity">Submit</button>
                            </td>
                        </tr>
                        </tbody>
                        </colgroup>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
