<div class="full-row">
    <h3 class="heading-helper heading-helper--sm">Create an Opportunity</h3>
    <div class="leftText">
        <div class="widget widget--message">
            <div class="content">
                <div class="table-responsive">
                    <table class="table table--target table--mod table--forum table--secondary">
                        <colgroup class="col-small">
                        <colgroup class="col-wide-lg">
                        <tbody>
                        <tr>
                            <td>Title</td>
                            <td>
                                <input class="opportunityFormTitle" size="80">
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <textarea class="opportunityFormDescription" rows="6" cols="80"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>
                                <input class="startDateTimeInput" type="text" size="18">
                            </td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>
                                <input class="startTimeInput" type="text" size="18">
                            </td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>
                                <input class="durationInput" type="text" size="18">
                            </td>
                        </tr>
                        <tr>
                            <td>Number of hours</td>
                            <td>
                                <input class="duration" size="4">
                            </td>
                        </tr>
                        <tr>
                            <td>Open slots</td>
                            <td>
                                <input class="totalSeats" size="4">
                            </td>
                        </tr>
                        <tr>
                            <td>Is it Service Learning?</td>
                            <td>
                                <input type="radio" class="isServiceLearning" value="no" checked> No
                                <input type="radio" class="isServiceLearning" value="yes"> Yes
                            </td>
                        </tr>
                        <tr>
                            <td>Is it paid?</td>
                            <td>
                                <input type="radio" class="isPaid" value="no" checked> No
                                <input type="radio" class="isPaid" value="yes"> Yes
                                <input placeholder="Amount" name="pay" size="8">
                            </td>
                        </tr>
                        <tr>
                            <td>Is it recurrent?</td>
                            <td>
                                <input type="radio" name="isRecurrent" value="0" checked> No
                                <input type="radio" name="isRecurrent"> Yes,
                                <select name="isRecurrent">
                                    <option value="1">Every day</option>
                                    <option value="2">Every week</option>
                                    <option value="3">Every month</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="centerText">
                                <button class="btn btn-warning btn--decorated">Submit</button>
                            </td>
                        </tr>
                        </tbody>
                        </colgroup>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
