<!-- replace this with form html -->
Create a new person
<div>
    email <input class="signupEmail" />
    personName <input class="signupName" />
    phone <input class="signupPhone" />
    role
    <select class="selectRoles"></select>
</div>

<button class="signupButton smallButton mb20">save person</button>