<div class="signupForm login col-12 pt30">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input type="text" class="signupEmail form-control-plaintext" placeholder="">
            <span class="signupEmailWarning warn"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="signupName form-control-plaintext" placeholder="">
            <span class="signupNameWarning warn"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-9">
            <input class="signupPhone form-control-plaintext" type="text" placeholder="">
            <span class="signupPhoneWarning warn"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <input class="signupCredential form-control-plaintext" type="password" placeholder="******">
            <span class="signupCredentialWarning warn"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Re-Type Password</label>
        <div class="col-sm-9">
            <input class="signupRetypeCredential form-control-plaintext" type="password" placeholder="******">
            <span class="signupRetypeCredentialWarning warn"></span>
        </div>
    </div>

    <div class="selectRolesContainer oppFormList form-group row">
        <label class="col-sm-3 col-form-label">Please select your role</label>
        <div class="oppFormInputContainer col-sm-9">
            <select class="selectRoles form-control pointer"></select>
        </div>
    </div>
    <div class="signupRoleInfoContainer col-12 row initialDisplayNone">
    	<div class="signupRoleName col-form-label initialDisplayNone"></div>
    </div>
	<div class="signupButtonContainer centerText">
	    <button class="signupButton btn btn--decorated">Sign Up</button>
	</div>
</div>


