<div class="login">
    <input class="signupEmail" type="email" placeholder="Your email"/><br>
    <input class="signupName" placeholder="Your name"/><br>
    <input class="signupPhone" placeholder="Your Phone Number"/><br>
    <input class="signupPassword" placeholder="password"/><br>
    <label>Please select your role</label><br>
    <select class="selectRoles"></select>
</div>

<button class="signupButton btn btn--decorated btn-warning login__btn mt50">Sign Up</button>
<p class="mt20"><a href="/login">Back to Sign In</a></p>
