/*
 * CSS Document 
 * authors: JP Marinacci, Sunny Wu
 */

/* base html css */

body {
	/*font-family: "Lucida Grande", Oswald, Consolas, Georgia, Helvetica, Arial, sans-serif;*/
	font-family: consolas, fantasy, "Lucida Console", Monaco, monospace, "Impact, Charcoal"; 
	font-size: 16px;
	/*letter-spacing: 1px;*/
	height: 100%;
	min-height: 100%;
	/*position: relative;*/
}

footer {
	bottom: 0;
	left: 0;
	position: absolute;
	clear: both;
	width: 100%;
    background-color: #34495e;
    text-align: center;
    color: #eeeeee;
}

.content {
	/* size of the footer*/
	/*margin-bottom: 56px;*/
	display: flex;
}

a {
  color: #00B7FF;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* master page layout **/

#pages {
	min-height: calc(89vh);
}

#pages > div {
	width: 100%;
}

#pages, #sidebar {
	/* corresponds with .bannerWrapper*/
	margin-top: 80px;
}

.backdrop {
	background-color: white;
	/*background-color: #51cee2;*/
	/*background: url("/img/Alien_Ink_2560X1600_Abstract_Background_1.jpg");*/
	background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* utility css classes */

.initialDisplayNone {
	display: none;
}

.inlineBlock {
	display: inline-block;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.pointer {
	cursor: pointer;
}

.centerText {
	text-align: center;
}
.leftText {
	text-align: left;
}
.rightText {
	text-align: right;
}

.text-big {
	font-size: 30px;
}

.text-light {
	color: #eeeeee;
}

.color-green {
	color: #00ff00;
}
.color-red {
	color: #ff0000;
}
.color-blue {
	color: #0000ff;
}

.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mt0 {
	margin-top: 0px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt50 {
	margin-top: 50px;
}

.pt20 {
	padding-top: 20px;
}
.pl20 {
	padding-left: 20px;
}

.relative {
	position: relative;
}

.icon-big {
	font-size: 58px;
}

.icon-middle {
	font-size: 38px;
}

.largeButton {
	background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.smallButton {
	background-color: #07B3F7;
	color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.checkBox {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.radio {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.bigSpinner {
	color:#00B7FF;
	font-size: 60px;
}

/* navbar  */

.bannerWrapper {
    position: fixed;
    top: 0;
    z-index: 2002;
    width: 100%;
    height: 80px;
    background-color: #34495e;
}

.bannerWrapper img {
	max-height: 80px;
}

.bannerWrapper span {
	position: fixed;
	top: 0;
	display: inline-block;
}

.bannerWrapper .headerLogo {
	width: 245px;
	text-align: center;
	line-height: 3;
}

.bannerWrapper .headerLogo img {
	padding: 2px;
}

.bannerWrapper .headerBanner {
	text-align: center;
	margin-left: 245px;
	width: calc(100% - 245px);
}
.bannerWrapper .headerBanner.fixedCenter {
	width: 100%;
	margin:0 auto;
	position: fixed;
}

.bannerWrapper .headerBanner img {
	padding-top: 3px;
	padding-bottom: 3px;
}

.btnLogout {
	color: white;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 15px;
	padding-left: 26px;
	padding-right: 26px;
}

/* notifications  */

#notificationsArea {
	position: absolute;
	z-index: 1000;
	position: fixed;
	width: 100%;
	top: 100px;
	left: 50%;
    transform: translate(-50%, 0%);
	text-align: center;
}

#notifications {
	display: none;
	width: 60%;
	top: 60px;
	border-radius: 4px;
	/*background-color: #C4EDFD;*/
	background-color: white;
	padding: 20px;
}

#notificationMessage {
	color: #000066;
	font-family: Oswald, Georgia;
	font-size: 40px;
	min-height: 40px;
	line-height: 40px;
    vertical-align: middle;
}

#notifications .closeNotifications {
	margin-top: 5px;
	cursor: pointer;
}

/*  sidebar  */

.navLink {
	color: #85d6de;
	cursor: pointer;
	padding-top: 20px;
}
.navLink span {
	color: white;
	cursor: pointer;
	font-size: 11px;
}
.dashboardLink:hover {
	color: #00B7FF;
	text-decoration: none;
	cursor: pointer;
}
.navLink:hover {
    color: #00B7FF;
    text-decoration: none;
}

.oppSettingsTitle {
	color: white;
	font-size: 12px;
	text-align: center;
}

/*  footer */

.footer {
	text-align: center;
	padding: 20px;
}

/* page specific css */

/* Login Page */

.login input {
	background-color: white;
	border-radius: 4px;
    border: solid black 0.5px;
    padding-left: 7px;
    padding: 2px 0px 2px 7px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    /*min-width: 300px;*/ 
}
.login input::placeholder {
	color: lightblue;
	/*color: lightslategray;*/
}

/* Signup Page */
.selectRoles {
	background-color: white;
	border: solid black 0.5px;
} 

/* Home Page */

.homePageHeaderText {
	font-size: 40px;
	font-family: "Comic Sans MS", "Felix Titling", "Impact", "Helvetica", "Georgia";
}

.homePageImg {
	width: 400px;
	height: 300px;
}

/* Opportunity Form Page */

.opportunityForm {
	text-align: left;
}
.oppFormList li {
	margin-bottom: 5px;	
}
.oppFormList .oppFormLabel {
	display: inline-block;
	width: 200px;
	font-weight: 600;
}
.oppFormList .oppFormInputContainer {
	display: inline-block;
	width: 400px;
}
.oppFormList .oppFormTextInput {
	display: inline-block;
	width: 90%;
}
.formSection {
	width: 100%;
	padding: 10px;
	border: 1px dashed grey;
	border-radius: 5px;
	margin-bottom: 5px;
}
.oppFormList .oppFormRadiosContainer {
	width: 500px;
}
.asterisk {
	cursor: pointer;
	font-weight: bold;
	vertical-align: text-top;
}
.warn {
	color: #ff0000;
}

.deleteOppBtn {
	margin-left: 10px;
	background-color: red;
} 
.deleteOppBtn:hover {
	background-color: orange;
	color: white;
	/* make whatever you want*/
}
.saveOppBtn  {
	
}

/* Dashboard Page */

.welcomeBox {
	display: inline-block;
    border: 0.5px solid black;
    box-shadow: 10px 10px 5px #888;
    padding: 20px;
    margin-bottom: 20px;
    /*background-color: #34495e;*/
	background-color: white;
	border-radius: 10px;
}

.welcome {
	/*color: #000088;*/
	/*color: white;*/
	color: #34495e;
	font-size: 40px;
	font-family: fantasy, Oswald;
	font-weight: 600;
}
.opportunityItem {
	display: inline-block;
	width: 18rem;
	padding-bottom: 10px;
	border: solid 1px #343a40;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.opportunityItem .oppItemCard {
	text-align: left;
	height: 464px;
    overflow: hidden;
}

.opportunityItem .oppItemCard .cardHeader {
	background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 10px;
}

.opportunityItem .oppItemCard .oppItemField h6{
	word-break: break-word;
}

.opportunitiesList {
	margin: 0 20px;
}

.oppItemTitle {
	font-size: 18px;
	font-weight: 600;
}

.oppItemPicContainer {
	width: 40px;
	height: 40px;
	float: left;
}
.oppItemPic {
	height: auto;
	width: auto;
	max-height: 40px;
	max-width: 40px;
}

.oppItemLabel {
	font-weight: 600;
}

/*  Opportunity Page */
.opportunityView {
	padding: 0 0 20px 0;
}

/*	*/
.roleItem, .personItem {
	border: solid 0.5px darkslateblue;
	padding: 2px;
}
.roleItem > div, .personItem > div {
	display: inline-block;
	border: solid 0.5px lightgrey;
	margin-right: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 2px 4px 2px 4px;
}
.oppFormResults {
	float: right;
	margin-right: 10px;
	width: 300px;
	border: solid 0.5px slategrey;
}

/* About Page */


/* Team Page */


/* dbTest Page */

#dbTest li {
	list-style-type: ethiopic-halehame;
}

/*  Controls */

.chart_opp {
	color:#85d6de;
}

.chart_my {
	color:#fed37f;
}

/**************** Imported from Custom Styles --Sunny Wu --*******/
.btn {
  font: 18px 'Varela Round', sans-serif;
  /*line-height: 100% !important;*/
  color: #ffffff;
  border: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}
.btn--decorated {
  position: relative;
  z-index: 20;
  padding: 15px 37px 12px 37px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn--decorated:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
}
.btn--decorated:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.nav-sidebar-container {
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 5px;
}

.nav-sidebar.navigation-open {
	-webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.nav-sidebar {
	position: relative;
	float: left;
	width: 245px;
	background-color: #34495e;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	min-height: calc(100vh);
	height: 100%;
}
.nav-sidebar .nav-sidebar__title {
  padding-top: 35px;
  padding-bottom: 10px;
  margin: 0;
  font: 14px 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #758594;
}
.nav-sidebar:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 245px;
	height: 100%;
	background-color: #34495e;
	z-index: -1;
}
.nav-sidebar-container {
	padding: 0px 20px 5px 20px;
}

.widget-timetable-large {
	padding-bottom: 50px;
	margin-top: 30px;
	position: relative;
}
.widget-timetable-large .wijchart-axis-label {
	font-weight: normal !important;
	transform: translate(0, 12px);
}
.widget-timetable-large .widget__heading {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 0;
	margin-bottom: 4px;
}
.widget-timetable-large .wijchart-axis-gridline {
	transform: translate(0, 12px);
}
.widget {
	background-color: #f3f7f7;
	padding-bottom: 20px;
    margin-bottom: 20px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.widget--message {
	padding-bottom: 7px;
}
.select--widget {
	position: absolute;
	top: 13px;
	right: 20px;
}
.select--sm {
	width: 125px;
}
.select--sm .selectpicker {
	padding: 1px 18px 3px;
	font-size: 12px;
}
.select--sm .dropdown-menu {
	min-height: 1px !important;
	top: 23px;
}
.select--sm .dropdown-menu li > a {
  padding-top: 1px;
  padding-bottom: 3px;
}
.select--widget {
  position: absolute;
  top: 13px;
  right: 20px;
}
.present-heading {
  margin-top: 45px;
  text-transform: none;
}
.present-divider {
  margin-top: 52px;
  margin-bottom: 55px;
}
.present-divider-full {
  margin-top: 42px;
  margin-bottom: 20px;
}
.present-divider-last {
  margin-bottom: 0;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #dfe6e7;
}
.divider--colored {
  position: relative;
}
.divider--colored .divider-dot {
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #85d6de;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.divider--colored .divider-dot:before,
.divider--colored .divider-dot:after {
  content: "";
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.divider--colored .divider-dot:before {
  left: -20px;
  background: #fed37f;
}
.divider--colored .divider-dot:after {
  right: -20px;
  background: #fe8f8c;
}
.present-addition {
  margin-top: -10px;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav > li > a > img {
  max-width: none;
}

.heading-helper {
  margin: 24px 0;
  font: 18px 'Open Sans', sans-serif;
  font-weight: bold;
}
.heading-helper--sm {
  font-size: 14px;
  text-transform: uppercase;
}
.col-small {
  width: 10%;
}
.col-wide-lg {
  width: 68%;
}
.collapse.in {
    display: block;
}
.wrapper {
  overflow: hidden;
}
.block-title {
  position: relative;
  padding: 34px 0 31px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  color: #34495e;
  border-bottom: 1px solid #dfe6e7;
}
/*.block-title:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 80px;
  height: 3px;
  margin-left: -40px;
  background-color: #85d6de;
}*/
.block-title--bottom {
  margin-bottom: 60px;
	color:white;
	line-height: 44px;
	font-weight: bold;
}
.login {
  max-width: 500px;
  margin: 0 auto;
}
.bottom-space--small {
  margin-top: 100px;
}
.divider-color {
  width: 100%;
  height: 2px;
  background-image: url("../assets/images/components/stripe.png");
  background-repeat: repeat-x;
}
.login .login__btn {
  margin-top: 28px;
  margin-bottom: 65px;
  display: block;
  width: 100%;
}

.full-row {
	padding-left: 20px;
}

.statusRed {
	font-size:8pt;
	color: #ff0000;
}

.fontExtraSmall {
	font-size:8pt;
	color:#444;
}

.card:hover {
	/*background-color: #a7e6ff;*/
	box-shadow: inset 0 0 2px #34495e;
	cursor: pointer;
}

.list-group-item:nth-child(odd) {
	background-color: #fff;
}
.list-group-item:nth-child(even) {
	background-color: #eee;
}

.opportunityPageCreateForm {
	width:80%;
	margin: 0 auto 0 auto;
}

.createOppLine {
	margin-top: 20px;
}

.createOppLine .checkBoxes {
	margin-top: 8px;
}

.dashDesc {
	display: -webkit-box;
	word-wrap:break-word;
	-webkit-box-orient: vertical;
	/*-webkit-line-clamp: 5;*/
	overflow: hidden;
}

.detailDesc {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 16px;
}

.required:before {
	content:"*";
	margin-left: -20px;
	font-size: 18px;
    color: #ffc107;
}
.requiredKey {
	font-size: 18px;
    color: #ffc107;
}

.oppFormHeader {
	color: white;
	text-shadow: 2px 2px black;
}

.col-form-label {
	font-weight: 800;
}

.bg-full {
	background-color: #eee;
}

/**************** Media Queries *********************/

@media only screen and (min-width: 320px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 480px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 1200px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 1224px) {
	/* STYLES GO HERE */
}
@media only screen and (min-width: 1824px) {
	/* STYLES GO HERE */
}
@media only screen and (max-width: 1823px) {
	/* STYLES GO HERE */
}
@media only screen and (max-width: 1199px) {
	/* STYLES GO HERE */
}
@media only screen and (max-width: 991px) {
	/* STYLES GO HERE */
}
@media only screen and (max-width: 767px) {
	.bannerWrapper .headerLogo {
	    width: 100px;
	}
	.bannerWrapper .headerBanner {
		width: calc(100% - 100px);
		margin-left: 100px;
	}
	.bannerWrapper .headerBanner.fixedCenter {
		margin-left: 30px;
	}
	.nav-sidebar {
		width: 100px;
	}
	.hidden-sm {
		display: none !important;
	}
	.btnLogout {
		padding: 10px 16px;
		margin-top: 20px;
		margin-right: 5px;
	}
	.nav-tabs.nav-justified > li {
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified > li > a {
		margin-bottom: 0;
	}
	.nav-tabs.nav-justified > li > a {
		margin-right: 0;
		border-radius: 4px;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border: 1px solid #dddddd;
	}
	.nav-tabs.nav-justified > li > a {
		border-bottom: 1px solid #dddddd;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #ffffff;
	}
}
@media only screen and (max-width: 479px) {
	#pages, #sidebar {
	    margin-top: 40px;
	}
	.bannerWrapper {
		height: 40px;
	}
	
	.bannerWrapper .headerLogo img {
		max-height: 40px;
	}
	.bannerWrapper .headerBanner img {
		max-height: 40px;
	    left: 50%;
	    transform: translate(-25%,0);
	}
	.btnLogout {
		padding: 2px 10px;
		margin-right: 5px;
		margin-top: 10px;
	}
	.hidden-xs {
		display: none !important;
	}
	.opportunityItem {
		width: 170px;
	}
	.welcomeBox {
		width: 160px;
		margin-left: -10px;
	}
	.welcome {
		font-size: 16px;
	}
}
@media only screen and (max-width: 320px) {
	/* STYLES GO HERE */
}
/* NOTHING BELOW THIS MEDIA QUERIES **/
